body {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title img {
  max-width: 20%;
}

.title h1 {
  color: white;
  font-size: larger;
  display: inline-block;
}

nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.nav-item a:hover {
  color: gold;
}

.nav-link {
  color: white;
}

.project {
  color: white;
  max-width: fit-content;
  align-items: center;
}

main {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: white;
  color: blue;
  border-top: 1px dashed green;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(255, 230, 0);
  color: green;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}