body {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title img {
    max-width: 20%;
}

.title h1 {
    color: white;
    font-size: larger;
    display: inline-block;
}
  
nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.nav-item a:hover {
    color: gold;
}

.nav-link {
    color: white;
}

.project {
    color: white;
    max-width: fit-content;
    align-items: center;
}

section {
    display: inline-block;
    margin-top: 2%;
}

section img {
    display: inline-block;
    max-height: 200px;
    text-align: center;
    max-width: fit-content;
}

aside {
    display: inline-block;
}

aside li {
    display: inline-flexbox;
    list-style-type: none;
    margin-top: 20px;
}

aside a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    display: inline-flexbox;
    color:slategray;
    list-style-type: none;
    line-height: 28pt;
    text-decoration: none;
}

aside img {
    max-width: 140px;
    display: flex;
    margin-bottom: 20px;
}

.card {
    justify-content: space-between;
}

.card img {
    display: inline-flex;
    text-align: center;
}

.card-link {
    text-decoration: none;
    font-weight: bold;
}