body {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title img {
    max-width: 20%;
}

.title h1 {
    color: white;
    font-size: medium;
    display: inline-block;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 350px;
    list-style: none;
}
  
nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
  
nav a:hover {
    color: grey;
}
