body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 350px;
    list-style: none;
}
  
nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
  
nav a:hover {
    color: grey;
}

aside {
    display: inline-block;
}
aside img {
    display: inline-block;
    max-height: 20%;
}
section {
 display: inline-block;
}

section img {
    display: inline-block;
    height: auto;
    width: 20%;
    text-align: center;
}